@model List<MD.Producto>
@{
    if(Session["userID"] != null)
    {
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }

    ViewBag.Title = "Home Page";
}
@using MD = SistemaVentas.Models;

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
    <table class="table">
        <tr>
            <th>Nombre Producto</th>
            <th>Precio</th>
            <th>Categoría</th>
        </tr>
        @foreach (MD.Producto producto in Model)
        {
            <tr>
                <!--<td onclick="location.href='Url.Action("Ver","Producto")'">producto.nombre</td> -->
                <td><a href="@Url.Action("Ver","Producto",new { id = producto.Id})">@producto.nombre</a></td>
                <td>$@producto.precio</td>
                <td>@producto.categoria.descripcion</td>
            </tr>
        }

    </table>
</div>